.venv
fastapi
quantization
study.ipynb
chroma_db

# Pythonのキャッシュ
**/__pycache__/
*.pyc

# データベース・機密情報
chroma_db/
.env

# その他、不要なシステムファイル
.DS_Store

# json -> jsonl
convert.py

# json形式のFT_data
FT_data.json

# 機械学習モデル（巨大なバイナリファイル）
*.gguf

# キャッシュフォルダ
.cache/

# 画像
demo_picture.png